<div>
<div><img class="logo" alt="Healthcare-Logo" src="./assets/Healthcare_Logo_Short.png" width="190" />
    <h1>HEALTHCARE</h1>
</div>

<div>
    <div class="navigation-bar">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&nbsp;&nbsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="doctor-dashboard" class="navtext">Home</a>&nbsp;&emsp;&nbsp;
       <a href="view-appiontment" class="navtext">View Appointment</a> &nbsp;&emsp;&nbsp;
       <a href="patient-history" class="navtext">View Patient</a> &emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <a href="" class="navtext">Logout</a>&emsp;&nbsp;&nbsp;&nbsp;
       <a href="https://www.cowin.gov.in/" target="_blank"><button class="vaccine" >Click Here for Vaccination</button></a>
       
        
        </div>
    </div>
<br>

<div class="container">
    <div class="row">
        <div class="col-6">
<div class="appointment-card">
    <br/>
    <div>
        <img src="./assets/book.png" width="60px">
    </div>
    <br/>
    <br/>
    <div>
       <h6> View Appointments </h6>
        <p>Paramedical staff submits patient data to scheduler</p>
        <button class="btn btn-primary"><a (click)="getAppointment()">View Appointment</a></button>
    </div> 
</div>
</div>

<div class="col-6">
    <div class="appointment-card">
        <br/>
        <div>
            <img src="./assets/report.png" width="60px">
        </div>
        <br/>
        <br/>
        <div>
           <h6> History of Patients</h6>
            <p>To gets patients data in queue and history</p>
            <button class="btn btn-primary"><a href="patient-history" style="text-decoration: none;color:#F5F5dc;">View Patient</a></button>
        </div> 
    </div>
    </div>
    

</div>
</div>
<footer class="copyfooter">&copy; 2021 Healthcare | All Rights Reserved</footer>

</div>