<div><img class="logo" alt="Healthcare-Logo" src="./assets/Healthcare_Logo_Short.png" width="190" />
    <h1>HEALTHCARE</h1>
</div>
<br>
<div>
    <div class="navigation-bar">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="patient-login-success" class="navtext">Home</a>
        &nbsp;&emsp;&nbsp;

        &nbsp;&emsp;&nbsp;
        <a href="order-medicines" class="navtext">Order Medicine</a>
        &nbsp;&emsp;&nbsp;
        <a href="book-appointment" class="navtext">Book Appointment</a>
        &nbsp;&emsp;&nbsp;

        &nbsp;&emsp;&nbsp;
        <a href="#" class="navtext">Logout</a>
        &nbsp;&emsp;&nbsp;
        <a href="https://www.cowin.gov.in/" target="_blank"><button class="vaccine">Click Here for
                Vaccination</button></a>
    </div>
</div>
<br>

<h2 class="welcomeh2">Book Appointment</h2>
<br>
<div class="container">
    <form [formGroup]="AppointmentForm" (ngSubmit)="saveAppointment()">
        <fieldset>
            <div class="form-group row">
                <div class="form-group col-md-4 col-mb-5"></div>
                <div class="form-group col-md-5 col-mb-6">
                    <div class="form-group">
                        <label for="appointment">Appointment Id</label>
                        <input type="number" class="form-control" formControlName="appointmentId" name="appointment"
                            id="appointment">
                        <div class="alert alert-danger"
                            *ngIf="AppointmentForm.get('appointmentId').hasError('required') && AppointmentForm.get('appointmentId').dirty">
                            Appointment Id is required
                        </div>
                        <div class="alert alert-danger"
                            *ngIf="AppointmentForm.get('appointmentId').hasError('min') && AppointmentForm.get('appointmentId').dirty">
                            Appointment Id can't be Stored
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-4 col-mb-5"></div>
                <div class="form-group col-md-5 col-mb-6">

                    <div class="form-group">
                        <label for="patientName">Patient Name</label>
                        <input type="text" class="form-control" formControlName="patientName" name="patientName"
                            id="patientName">
                        <div class="alert alert-danger"
                            *ngIf="AppointmentForm.get('patientName').hasError('required') && AppointmentForm.get('patientName').dirty">
                            Patient name is required
                        </div>
                        <div class="alert alert-danger"
                            *ngIf="AppointmentForm.get('patientName').hasError('minlength') && AppointmentForm.get('patientName').dirty">
                            Patient name must be of 3 characters
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-4 col-mb-5"></div>
                <div class="form-group col-md-5 col-mb-6">

                    <div class="form-group">
                        <label for="reason">Reason To Visit </label>
                        <input type="text" class="form-control" formControlName="reasonToVisit" name="reason"
                            id="reason">
                        <div class="alert alert-danger"
                            *ngIf="AppointmentForm.get('reasonToVisit').hasError('required') && AppointmentForm.get('reasonToVisit').dirty">
                            Reason To Visit is required
                        </div>
                        <div class="alert alert-danger"
                            *ngIf="AppointmentForm.get('reasonToVisit').hasError('minlength') && AppointmentForm.get('reasonToVisit').dirty">
                            Reason To Visit must be of 3 characters
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <div class="form-group col-md-4 col-mb-5"></div>
                <div class="form-group col-md-5 col-mb-6">

                    <div class="form-group">
                        <label for="date">Date </label>
                        <input type="date" class="form-control" formControlName="date" name="date" id="date">
                        <div class="alert alert-danger"
                            *ngIf="AppointmentForm.get('date').hasError('required') && AppointmentForm.get('date').dirty">
                            Date is required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="form-group col-md-4 col-mb-5"></div>
                <div class="form-group col-md-5 col-mb-6">

                    <div class="form-group">
                        <label for="time">Time</label>
                        <input type="time" class="form-control" formControlName="time" name="time" id="time">
                        <div class="alert alert-danger"
                            *ngIf="AppointmentForm.get('time').hasError('required') && AppointmentForm.get('time').dirty">
                            Time is required
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="form-group col-md-4 col-mb-5"></div>
                <div class="form-group col-md-5 col-mb-6">

                    <div class="form-group">
                        <label for="consultation">Consultancy Fee </label>
                        <input type="number" class="form-control" value="250" formControlName="consultationFee"
                            name="consultation" id="consultation" readonly>

                    </div>
                </div>
            </div>


        </fieldset>
        <p style="color: green; text-align: center; font-weight: bold; font-size: 20px; font-style: Arial;">{{message}}</p>
        <div class="form-group row">
            <div class="form-group col-md-4 col-mb-5"></div>
            <div class="form-group col-md-5 buttons" align=center>
                <button type="submit" class="btn-lg btn-success" [disabled]="AppointmentForm.invalid">Book
                    Appointment</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" class="btn-lg btn-info">Clear</button>
            </div>
        </div>
    </form>
    <br>
</div>
<footer class="copyfooter">&copy; 2021 Healthcare | All Rights Reserved</footer>