<div><img class="logo" alt="Healthcare-Logo" src="./assets/Healthcare_Logo_Short.png" width="190" />
    <h1>HEALTHCARE</h1>
</div>
<br>
<div>
    <div class="navigation-bar">
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="" class="navtext">Home</a>
        &nbsp;&emsp;&nbsp;
        <ul class="no-bullets">
            <li>
        <p>Login</p>
            <ul class="no-bullets">
                    <li class="loginList"><a href="patient-login" class="loginhover"> As Patient </a></li>
                    <li class="loginList"><a href="doctor-login" class="loginhover"> As Doctor </a></li>
            </ul>
        </li>
        </ul>
        &nbsp;&emsp;&nbsp;
        <ul class="no-bullets">
        <li>
            <p>Signup</p>
        <ul class="no-bullets">
            <li class="loginList"><a  (click)="addPatient()" class="loginhover"> As Patient </a></li>
            <li class="loginList"><a  (click)="addDoctor()" class="loginhover"> As Doctor </a></li>
        </ul>
        </li>
        </ul>
            
        &nbsp;&emsp;&nbsp;
        <a href="about-app" class="navtext">About App</a>
        &nbsp;&emsp;&nbsp;
        <a href="about" class="navtext">About Us</a>
        &nbsp;&emsp;&nbsp;
        <a href="contact" class="navtext">Contact Us</a>
        &nbsp;&emsp;&nbsp;
        <button onclick="location.href ='https://www.cowin.gov.in/';" class="vaccine">Click Here for
            Vaccination</button>
        </div>
</div>
<br>
<h2 class="welcomeh2">About App</h2>
<br>
<div class="aboutapp">
    <p>Healthcare hospital provide a facility of online digital app for giving
        the service to our patients. We consolidate our ethics that <span style="font-weight: bold;">YOUR HEALTH OUR
            PRIORITY</span>
        . We provide the facility of booking an appointment, Order Prescribed Medicine,
        View Health Status Reports and other services to our patients. <br>
        Your Privacy is our concern we are responsible towards your privacy. I must believe this
        App helps you a lot.
        <br>    </p>


    <div align="center" style="font-weight: bold; font-size: 20px; font-family: Arial;"> THANK YOU !!!
    </div>
</div>
<footer class="copyfooter">&copy; 2021 Healthcare | All Rights Reserved</footer>