<div><img class="logo" alt="Healthcare-Logo" src="./assets/Healthcare_Logo_Short.png" width="190" />
    <h1>HEALTHCARE</h1>
</div>
<br>
<div>
    <div class="navigation-bar">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="patient-login-success" class="navtext">Home</a>
         &nbsp;&emsp;&nbsp;
        
         &nbsp;&emsp;&nbsp;
         <a href="order-medicines" class="navtext">Order Medicine</a>
         &nbsp;&emsp;&nbsp;
         <a href="book-appointment" class="navtext">Book Appointment</a>
         &nbsp;&emsp;&nbsp;
        
         &nbsp;&emsp;&nbsp;
         <a href="#" class="navtext">Logout</a>
         &nbsp;&emsp;&nbsp;
         <a href="https://www.cowin.gov.in/" target="_blank"><button class="vaccine" >Click Here for Vaccination</button></a>
        </div>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-4">
<div class="appointment-card">
    <br/>
    <div>
        <img src="./assets/book.png" width="60px">
    </div>
    <br/>
    <br/>
    <div>
       <h6> Book online appointment</h6>
        <p>Combining the best specialists and equipment to provide you nothing short of the best in healthcare.......</p>
        <a href="book-appointment">BOOK NOW</a>
    </div> 
</div>
</div>

<div class="appointment-card">
    <br/>
    <div>
        <img src="./assets/ordermedicine.png" width="70px" height="80px">
    </div>
    <br/>
    <div>
       <h6> Order Medicines</h6>
        <p>Let food be thy medicine and medicine be thy food</p>
        <a href="order-medicines">ORDER NOW</a>
    </div> 
</div>

<div class="appointment-card">
    <br/>
    <div>
        <img src="./assets/report.png" width="70px" height="80px">
    </div>
    <br/>
    <div>
       <h6> View Health Status Reports</h6>
        <p>He who has health has hope and he who has hope has everything </p>
        <a href="record">VIEW NOW </a>
    </div> 
</div>
</div>
</div>



<!-- <img src="./assets/doctor-patient.jpg" width="100%" height="700"> -->


<footer class="copyfooter">&copy; 2021 Healthcare | All Rights Reserved</footer>

