<div>

    <h3>How can I access my records?</h3>
</div>
<div>

    <p>If you don't have online access to your health records yet, Health Care can provide you the latest updates on your health-- and a quick call to your doctor’s office can get you started.
        </p>
    <p>
    Health Care provides a record of all health information added by your doctor, updated in real-time, so you don’t have to remember your whole health history every time you visit a doctor.
</p>
<p>
<ul>
<li>Retrieving and transmitting your records is easy with  Health Care:</li>  
<li>Retrieve your lab tests and results</li>
<li>See your diagnoses, medications, immunizations, social history, and allergies at a glance</li>
<li>Review procedures from your doctor and your doctor’s follow-up care plan</li>
<li>Download your records in a PDF format to share with another doctor</li>
<li>In addition to keeping you informed after your doctor’s visit, Health Care also includes everything you need before the visit.</li>
<li>See vitals from previous visits and all upcoming appointment times</li>
<li>Book new appointments with your doctor or request to reschedule and cancel upcoming appointments</li>
<li>Ask a health question before coming into the office with secure instant messaging with your doctor (must be activated by your doctor)</li>
<li>Using our Online Check-In service, save time by completing your intake form prior to arriving at your doctor’s office.</li>
<li>Call your doctor’s office and ask them about getting online access to your health records or find a new Health Care doctor today.</li>
</ul>

</div>
<div>
    &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<a href="patient-login-success">Go Back</a>
</div>