<div><img class="logo" alt="Healthcare-Logo" src="./assets/Healthcare_Logo_Short.png" width="190" />
    <h1>HEALTHCARE</h1>
</div>
<br>
<div>
    <div class="navigation-bar">
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="" class="navtext">Home</a>
        &nbsp;&emsp;&nbsp;
        <ul class="no-bullets">
            <li>
        <p>Login</p>
            <ul class="no-bullets">
                    <li class="loginList"><a href="patient-login" class="loginhover"> As Patient </a></li>
                    <li class="loginList"><a href="doctor-login" class="loginhover"> As Doctor </a></li>
            </ul>
        </li>
        </ul>
        &nbsp;&emsp;&nbsp;
        <ul class="no-bullets">
        <li>
            <p>Signup</p>
        <ul class="no-bullets">
            <li class="loginList"><a  (click)="addPatient()" class="loginhover"> As Patient </a></li>
            <li class="loginList"><a  (click)="addDoctor()" class="loginhover"> As Doctor </a></li>
        </ul>
        </li>
        </ul>
            
        &nbsp;&emsp;&nbsp;
        <a href="about-app" class="navtext">About App</a>
        &nbsp;&emsp;&nbsp;
        <a href="about" class="navtext">About Us</a>
        &nbsp;&emsp;&nbsp;
        <a href="contact" class="navtext">Contact Us</a>
        &nbsp;&emsp;&nbsp;
        <a href="https://www.cowin.gov.in/" target="_blank"><button class="vaccine" >Click Here for Vaccination</button></a>
        </div>
</div>

<section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="section-title">
            <h2 class="head-title lg-line">Our Mission</h2>
            <hr class="botm-line">
            <p class="sec-para">To promote awareness among functionaries involved in Health and Hospital Management. To promote research in the field of Health Care.In order to improve the efficiency of Health Care delivery Systems. To promote the development of high quality hospital services and community health care.</p>
            <a href="" style="color: #0cb8b6; padding-top:10px;"></a>
          </div>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div style="visibility: visible;" class="col-sm-9 more-features-box">
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Objective 1:</h3>
                <p>Increase the range of services wherever there are opportunities to meet an area of customer need and demand, on financially viable basis.</p>
              </div>
            </div>
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Objective 2:</h3>
                <p>Provide a safe and therapeutic environment for all patient, staff, visitors and to Increase overall satisfaction rates of patients, employees and visiting medical officers.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



<footer class="copyfooter">&copy; 2021 Healthcare | All Rights Reserved</footer>