<div><img class="logo" alt="Healthcare-Logo" src="./assets/Healthcare_Logo_Short.png" width="190" />
  <h1>HEALTHCARE</h1>
</div>
<br>
<div>
  <div class="navigation-bar">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&nbsp;&nbsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="doctor-dashboard" class="navtext">Home</a>&nbsp;&emsp;&nbsp;
    <a href="view-appiontment" class="navtext">View Appointment</a> &nbsp;&emsp;&nbsp;
    <a href="patient-history" class="navtext">View Patient</a>
    &emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="" class="navtext">Logout</a>&emsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.cowin.gov.in/" target="_blank"><button class="vaccine">Click Here for Vaccination</button></a>


  </div>
</div>
<br>


<h2 class="welcomeh2">View Appointments </h2>
<br>
<div style="display: block;text-align: center;">

  <table cellspacing="10" cellpadding="10" class="table table-bordered">
    <thead style="background-color: #03989e; color: #ffffff;">
      <tr>
        <th>Appointment Id</th>
        <th>Patient Name </th>
        <th>reasonToVisit</th>
        <th>Date</th>
        <th>Time </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments">
        <td class="table-active">
          {{appointment.appointmentId}}
        </td>
        <td class="table-primary">
          {{appointment.patientName}}
        </td>
        <td class="table-success">
          {{appointment.reasonToVisit}}
        </td>
        <td class="table-warning">
          {{appointment.date}}
        </td>
        <td class="table-danger">
          {{appointment.time}}
        </td>

      </tr>
    </tbody>
  </table>
</div>
