<div><img class="logo" alt="Healthcare-Logo" src="./assets/Healthcare_Logo_Short.png" width="190" />
    <h1>HEALTHCARE</h1>
</div>

<div>
    <div class="navigation-bar">      
        <a href="" class="navtext">Home</a>
        &nbsp;&emsp;&nbsp;
        <ul class="no-bullets">
            <li>
        <p>Login</p>
            <ul class="no-bullets">
                    <li class="loginList"><a href="patient-login" class="loginhover"> As Patient </a></li>
                    <li class="loginList"><a href="doctor-login" class="loginhover"> As Doctor </a></li>
            </ul>
        </li>
        </ul>
        &nbsp;&emsp;&nbsp;
        <ul class="no-bullets">
        <li>
            <p>Signup</p>
        <ul class="no-bullets">
            <li class="loginList"><a  (click)="addPatient()" class="loginhover"> As Patient </a></li>
            <li class="loginList"><a  (click)="addDoctor()" class="loginhover"> As Doctor </a></li>
        </ul>
        </li>
        </ul>
            
        &nbsp;&nbsp;&nbsp;
        <a href="#services" class="navtext">Service</a>
        &nbsp;&nbsp;&nbsp;
        <a href="#about" class="navtext">About</a>
        &nbsp;&nbsp;&nbsp;
        <a href="#contact" class="navtext">Contact</a>
        &nbsp;&nbsp;&nbsp;
        <a href="https://www.cowin.gov.in/" target="_blank"><button class="vaccine" >Click Here for Vaccination</button></a>
        </div>
</div>

<img src="./assets/Home-Big-Image.jpg" width="100%" height="700">

<!-- <img src="https://wallpaperaccess.com/full/4112909.jpg" alt="picture" > -->
<br>
<br>
<h2 style="text-align: center;" class="welcomeh2">Welcome to the Healthcare</h2>
<br>
<div align=center>
  <span>
<iframe width="490" height="250" src="https://www.youtube.com/embed/YLnQ9QRa53U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</span>
&nbsp;
<span>
<iframe width="490" height="250" src="https://www.youtube.com/embed/tn3jfWP-AWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</span>
</div>

<!-- section about hospital -->
<section id="services" style="width: 100%;" class="section-padding welcomeservice">
    <div class="container" >
        <div class="row">
            
            <section id="service" class="section-padding">
                <div class="container">
                  <div class="row">
                    <div class="col-md-4 col-sm-4">
                      <h2 class="ser-title">Our Service</h2>
                      <hr class="botm-line">
                      <p>Medical care is something everyone needs, it can be easy to forget that 
                        medical care is a service and patients are customers. But good customer service
                         is just as important in medicine as it is in any other field, and because people's
                          health is so important, bad medical care or shoddy customer service might cause clients
                           to complain to local licensing boards or engage in other actions that can harm a medical business.</p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <div class="service-info">
                        <div class="icon">
                          <i class="fa fa-stethoscope"></i>
                        </div>
                        <div class="icon-info">
                          <h4>24 Hour Support</h4>
                          <p>If you have a health concern and can’t reach a 
                            doctor right away, or you’re not sure where else to call,
                             you can call to Medical Help Line 24 hours a day, 7 days/ week.
                              Once enrolled, this member benefit allows you to speak with an experienced
                               nurse to get answers to your questions and find out what steps you
                                need to take. If you are currently a member of Independent Health, you can
                                 find the phone number of the 24-Hour Medical Help Line on the back of your 
                                 Member card.<br /> <br><br></p>
                        </div>
                      </div>
                      <div class="service-info">
                        <div class="icon">
                          <i class="fa fa-ambulance"></i>
                        </div>
                        <div class="icon-info">
                          <h4>Emergency Services</h4>
                          <p>Ambulance services in NSW are provided free of charge to concession
                             card holders, including pensioners. NSW Ambulance also has a policy 
                             in place for patients who are under financial hardship and unable to
                              pay for our services.24 hours patient transport vehicle available.
                               Patients are transported from home (on campus) to IIT hospital and 
                               patients referred by emergency duty doctor to empanelled hospital
                                for specialized care. </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <div class="service-info">
                        <div class="icon">
                          <i class="fa fa-user-md"></i>
                        </div>
                        <div class="icon-info">
                          <h4>Medical Counseling</h4>
                          <p>Process of providing information, advice, and assistance to patients to 
                            improve their health, treatment adherence, and quality of life
                          Focuses on open communication between the patient and the provider, shared
                            decision-making, and a shared goal of alleviating discomfort for the patient.
                          Takes into account patients’ individual preferences, concerns, and emotions. Thanks to All
                           Patients are transported from home (on campus) to IIT hospital and patients.
                          <br /><br /><br />
                          </p>
                        </div>
                      </div>
                      <div class="service-info">
                        <div class="icon">
                          <i class="fa fa-medkit"></i>
                        </div>
                        <div class="icon-info">
                          <h4>OPD</h4>
                          <p>Patients are registered at the reception and are seen on first come,
                             first serve basis, however out of turn consultation may be provided 
                             in case of emergency and senior citizen. Patients have the right to
                              consult any doctor. In OPD, clinical consultation is provided to 
                              patients which includes history taking, clinical examination, diagnosis
                               and providing prescription to patients besides advising laboratory tests in some cases.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!--/ service-->
            
                        <!--about-->
            <section id="about" class="section-padding">
                <div class="container">
                  <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                      <div class="section-title">
                        <h2 class="head-title lg-line">Our Mission</h2>
                        <hr class="botm-line">
                        <p class="sec-para">To promote awareness among functionaries involved
                           in Health and Hospital Management. To promote research in the field
                            of Health Care.In order to improve the efficiency of Health Care
                             delivery Systems. To promote the development of high quality hospital
                              services and community health care.To promote awareness among functionaries
                               involved in Health and Hospital Management. To promote research in the field
                                of Health Care.In order to improve the efficiency of Health Care delivery Systems.
                                 To promote the development of high quality hospital services and community health care.</p>
                        <a href="" style="color: #0cb8b6; padding-top:10px;"></a>
                      </div>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-12">
                      <br><br>
                      <div style="visibility: visible;" class="col-sm-9 more-features-box">
                       
                        <div class="more-features-box-text">
                          <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
                          <div class="more-features-box-text-description">
                            <h3>Objective 1:</h3>
                            <p>Provide a safe and therapeutic environment for all patient, staff, 
                              visitors and to Increase overall satisfaction rates of patients, employees 
                              and visiting medical officers.
                              To promote research in the field of Health and Hospital Management.
                                 in order to   improve the  efficiency of Health Care delivery Systems.
                                 Opportunities for training and research in all aspects of Hospital Services 
                                 Health Care Delivery Systemopportunities for training and research in all aspects
                                  of Hospital Services Health Care Delivery System.
                            </p>
                          </div>
                        </div>
<br><br>
                        

                          <div class="more-features-box-text">
                            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
                            <div class="more-features-box-text-description">
                              <h3>Objective 2:</h3>
                              <p>
                                
                                Increase the range of services wherever there are opportunities to
                               meet an area of customer need and demand, on financially viable basis.To provide opportunities for training and research in all aspects
                                 of Hospital Services Health Care Delivery System and Health Care Administration.
                                 To update the knowledge and skill of the Health & Hospital Administrators
                                 and other personnel involved in  the management of   health care organization
                                  through continuous education and research.
                              </p>
                            </div>
                          </div>

                          


                          

                      </div>
                      
                    </div>
                  </div>
                </div>
              </section>
              <!--/ about-->
            
              <!--contact-->
<section style="display: inline-block ;" id="contact" class="section-padding">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <h2 style="text-align: center;" class="ser-title">Contact us</h2>
                      <hr class="botm-line">
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <h3>Contact Info</h3>
                      <div class="space"></div>
                      <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>Multiple branches in:- <br> New Delhi, Mumbai, Chennai, Kolkata <br> INDIA</p>
                      <div class="space"></div>
                      <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>info@healthcare.com</p>
                      <div class="space"></div>
                      <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>+91-9876543210</p>
                    </div>
                    <div class="col-md-8 col-sm-8 marb20">
                      <div class="contact-info">
                        <h3 class="cnt-ttl">Having Any Query! Shoot us a message.</h3>
                        <div class="space"></div>
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form action="" onsubmit="alert('Message Sent Successfully!!!')" role="form" class="contactForm">
                          <div class="form-group">
                            <input type="text" name="name" class="form-control br-radius-zero" id="name" 
                            placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                          </div>
                          <div class="form-group">
                            <input type="email" class="form-control br-radius-zero" name="email" id="email" 
                            placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control br-radius-zero" name="subject" id="subject"
                             placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                          </div>
                          <div class="form-group">
                            <textarea class="form-control br-radius-zero" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                          </div>
            
                          <div class="form-action">
                            <button type="submit" class="btn btn-primary">Send Message</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
           
              <!--/ contact-->

        </div>
    </div>

</section>
<footer class="copyfooter">&copy; 2021 Healthcare | All Rights Reserved</footer>



